

body {
    font-family: Georgia, Arial, sans-serif;
    background-color: #E3F0FB;
    border-radius: 4px;
    text-align: center;
}

.accordian-menu-ul {
    padding:0;
}

.noHover:hover,
.noHover:focus{
    background-color: transparent;
}